<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>


<body class="container">

    <h1>Hello
        <p>Test</p>
    </h1>
    <button class="btn btn-success" id="show-metrics">
        Bring the metrics
    </button>
    <div id="metrics"></div>

    <button class="btn btn-danger" href="/login" onClick='document.location.href="/login"'>
        Log In
      </button>
    <button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
        Logout
      </button>
<script>
    $('#show-metrics').click((e) => {
        e.preventDefault();
        $.getJSON( "/metrics.json", {}, (data) => {
            const content = data.map(d => {
                return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '';
            })
            $('#metrics').append(content.join("\n"));
        });
    })
</script> 
</body>

</html>