<!DOCTYPE html>
<html>

<head>
	<% include partials/head %>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>


<body>

	<div>
		<br>
		<br>
		<br>

		<div class="row">

			<div class="col 1">

			</div>

			<div class="col 3">
				<div>


					<div id="metrics"></div>
					<script>

						var dataPoints1 = []

						fetch('./metrics')
							.then(response => {
								return response.json()
							})
							.then(data => {
								// Work with JSON data here
								console.log(data)
								const content = data.map(d => {
								console.log(d.timestamp, ' | ', d.value)
								var date = Date(d.timestamp)

								crtPoint = { x: date, y: d.value }
								dataPoints1.push(crtPoint)
								return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '';
							})
							$('#metrics').append(content.join("\n"));
							})
							.catch(err => {
								// Do something for an error here
							})


						console.log("coucou")
					

					</script>
				</div>
			</div>

			<div class="col 1">

			</div>


			<div class="col 6">


				<div id="chartContainer" style="height: 300px; width: 600px;"></div>

				<script>
					window.onload = function () {

						var chart = new CanvasJS.Chart("chartContainer", {
							animationEnabled: true,
							theme: "light2",
							title: {
								text: "Affichage metrics"
							},
							axisX: {
								valueFormatString: "DD MMM",
								crosshair: {
									enabled: true,
									snapToDataPoint: true
								}
							},
							axisY: {
								title: "Value",
								crosshair: {
									enabled: true
								}
							},
							data: [{
								type: "line",
								xValueFormatString: "DD MMM, YYYY",
								color: "#F08080",
								dataPoints: dataPoints1
							}]
						});
						chart.render();

					}
				</script>
			</div>

			<div class="col 1">
			</div>
		</div>
	</div>
</body>

</html>