<!DOCTYPE html>
<html>

<head>
	<% include partials/head %>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>


<body>

	    <button class="btn btn-primary btn-block" type="button" href="/logout" onClick='document.location.href="/logout"'>Logout</button>

	    <form>
	    	<label> Add metrics :</label>
	    	<input type="text" name=""> 
	    	<input type="text" name=""> 
	    	<button type="submit">Valider</button>
	    </form>


	    </form>
	<div>
		<br>
		<br>
		<br>

		<div class="row">

			<div class="col 1">

			</div>

			<div class="col 3">
				<div>


					<div id="metrics"></div>
					<script>

						var dataPoints1 = []

						fetch('./metrics')
							.then(response => {
								return response.json()
							})
							.then(data => {
								// Work with JSON data here
								console.log(data)
								const content = data.map(d => {
								console.log(d.timestamp, ' | ', d.value)
								var date = Date(d.timestamp.year, d.timestamp.month,d.timestamp.day)

								crtPoint = { x: date, y: d.value }
								dataPoints1.push(crtPoint)
								return 'timestamp: ' + d.timestamp + ', value: ' + d.value + '';
							})
							$('#metrics').append(content.join("\n"));
							})
							.catch(err => {
								// Do something for an error here
							})



					</script>
				</div>
			</div>

			<div class="col 1">

			</div>


			<div class="col 6">


				<div id="chartContainer" style="height: 300px; width: 600px;"></div>

				<script>

						console.log("coucou")
						console.log(dataPoints1)
				/*		dataPoints1 = [{ x: new Date(2012, 1, 1), y: 26},
								        { x: new Date(2012, 1, 3), y: 38},
								        { x: new Date(2012, 1, 5), y: 43},
								        { x: new Date(2012, 1, 7), y: 29},
								        { x: new Date(2012, 1, 11), y: 41},
								        { x: new Date(2012, 1, 13), y: 54},
								        { x: new Date(2012, 1, 20), y: 66},
								        { x: new Date(2012, 1, 21), y: 60},
								        { x: new Date(2012, 1, 25), y: 53},
								        { x: new Date(2012, 1, 27), y: 60} ]		*/

					window.onload = function () {

						var chart = new CanvasJS.Chart("chartContainer", {
							animationEnabled: true,
							theme: "light2",
							title: {
								text: "Affichage metrics"
							},
							axisX: {
								valueFormatString: "DD MMM",
								crosshair: {
									enabled: true,
									snapToDataPoint: true
								}
							},
							axisY: {
								title: "Value",
								crosshair: {
									enabled: true
								}
							},
							data: [{
								type: "line",
								xValueFormatString: "DD MMM, YYYY",
								color: "#F08080",
								dataPoints: dataPoints1
								/*dataPoints : [

								] */
							}]
						});
						chart.render();

					}
				</script>
			</div>

			<div class="col 1">
			</div>
		</div>
	</div>
</body>

</html>